---
import '../../styles/article.css';

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import ImageGlow from "../../components/ImageGlow.astro";
import Icon from "../../components/Icon.astro";

interface Props {
  book: CollectionEntry<'books'>;
}

const { book } = Astro.props;

export const getStaticPaths = (async () => {
  const books = await getCollection('books');

  return books.map((book) => ({ params: { book: book.id }, props: { book } }));
}) satisfies GetStaticPaths;

console.log(book.data.info);

const { Content } = await render(book);
---
<Layout
  title={book.data.title}
  description={book.data.description}
  image={book.data.image}
  article={{
    createdAt: book.data.date,
  }}
>
  <div class="left" slot="left">
    <Card class="toc-card">
      <h2 class="no-mt">Info</h2>
      <ul class="overview-list">
        {book.data.info.map((info) => {
          const Tag = info.link ? 'a' : 'div';
          return (
            <li>
              <Tag href={info.link} class='book-info-item'>
                <Icon type={info.icon.type} name={info.icon.name as any} width={24} height={24} class='glow-icon' />
                <span>{info.text}</span>
              </Tag>
            </li>
          )
        })}
      </ul>
    </Card>
  </div>
  <article slot="right" data-pagefind-body>
    <Card>
      <div class="article-header" id="_top" data-pagefind-ignore>
        {book.data.image && <ImageGlow quality={100} class="article-image" src={book.data.image} alt={book.data.title} />}
        <div class="header">
          <div>
            <h1 class="no-mt article-h1">{book.data.title}</h1>
          </div>
          <div class="article-info">
            <span>{book.data.date.toLocaleDateString()}</span>
          </div>
        </div>
      </div>
      <Content />
      <hr class="end-of-article" />
      <a href="/books" class="block-link" data-pagefind-ignore>← Back to books</a>
    </Card>
  </article>
</Layout>
<style>
  .book-info-item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
